.input-file-container {
    position: relative;
}
.input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
    left: -9999px;
}
.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}


.error-upload label{
    border: 2px solid red;
}

.loading label{
    background-color: #34495E !important;
}

label{
    height: 200px;
    width: 200px;
}

.is-dragover  label {
    background: #34495E;
    color: #39D2B4;
}

.w-progress-bar{
    opacity: 0;
    pointer-events: none;
    height: 30px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    transition: opacity 300ms ease-in-out;
}

.w-progress-bar.active{
    opacity: 1;
}

.w-progress-bar__content{
    width: 0;
    height: 100%;
    border-radius: 10px;
    background-color: blue;
    transition: width 0.3s ease-out;
}

.w-information__error{
    display: flex;
    flex-direction: column;
}